<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 3.9.2 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d7842d376d9499e8a54f59ed8d3afe7:f243964655588b68f2bc665f984dcb2e:aa00eb5a32a3f6f1df9bed03e1a0450d$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>dragon_anim.1.png</string>
                <key>size</key>
                <string>{1432,2041}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Fire-12.png</string>
                        <key>spriteOffset</key>
                        <string>{663,127}</string>
                        <key>spriteSourceSize</key>
                        <string>{1569,532}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{863,394}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Fire-13.png</string>
                        <key>spriteOffset</key>
                        <string>{706,127}</string>
                        <key>spriteSourceSize</key>
                        <string>{1569,532}</string>
                        <key>textureRect</key>
                        <string>{{1,397},{863,394}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Fire-11.png</string>
                        <key>spriteOffset</key>
                        <string>{577,127}</string>
                        <key>spriteSourceSize</key>
                        <string>{1569,532}</string>
                        <key>textureRect</key>
                        <string>{{1,793},{855,394}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Fire-15.png</string>
                        <key>spriteOffset</key>
                        <string>{1004,161}</string>
                        <key>spriteSourceSize</key>
                        <string>{1569,532}</string>
                        <key>textureRect</key>
                        <string>{{866,1},{565,326}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>dragon_background.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{1569,532}</string>
                        <key>textureRect</key>
                        <string>{{1,1189},{625,491}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Fire-10.png</string>
                        <key>spriteOffset</key>
                        <string>{577,155}</string>
                        <key>spriteSourceSize</key>
                        <string>{1569,532}</string>
                        <key>textureRect</key>
                        <string>{{1,1682},{749,316}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Fire-14.png</string>
                        <key>spriteOffset</key>
                        <string>{882,127}</string>
                        <key>spriteSourceSize</key>
                        <string>{1569,532}</string>
                        <key>textureRect</key>
                        <string>{{866,329},{394,687}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Fire-6.png</string>
                        <key>spriteOffset</key>
                        <string>{569,227}</string>
                        <key>spriteSourceSize</key>
                        <string>{1569,532}</string>
                        <key>textureRect</key>
                        <string>{{628,1189},{172,465}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Fire-7.png</string>
                        <key>spriteOffset</key>
                        <string>{569,213}</string>
                        <key>spriteSourceSize</key>
                        <string>{1569,532}</string>
                        <key>textureRect</key>
                        <string>{{858,1018},{545,200}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Fire-8.png</string>
                        <key>spriteOffset</key>
                        <string>{569,185}</string>
                        <key>spriteSourceSize</key>
                        <string>{1569,532}</string>
                        <key>textureRect</key>
                        <string>{{802,1220},{605,256}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Fire-16.png</string>
                        <key>spriteOffset</key>
                        <string>{1210,225}</string>
                        <key>spriteSourceSize</key>
                        <string>{1569,532}</string>
                        <key>textureRect</key>
                        <string>{{802,1478},{342,196}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Fire-9.png</string>
                        <key>spriteOffset</key>
                        <string>{569,169}</string>
                        <key>spriteSourceSize</key>
                        <string>{1569,532}</string>
                        <key>textureRect</key>
                        <string>{{752,1676},{674,286}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Fire-5.png</string>
                        <key>spriteOffset</key>
                        <string>{569,247}</string>
                        <key>spriteSourceSize</key>
                        <string>{1569,532}</string>
                        <key>textureRect</key>
                        <string>{{1262,329},{132,385}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>dragon_book.png</string>
                        <key>spriteOffset</key>
                        <string>{433,40}</string>
                        <key>spriteSourceSize</key>
                        <string>{1569,532}</string>
                        <key>textureRect</key>
                        <string>{{1146,1478},{214,173}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Fire-3.png</string>
                        <key>spriteOffset</key>
                        <string>{569,275}</string>
                        <key>spriteSourceSize</key>
                        <string>{1569,532}</string>
                        <key>textureRect</key>
                        <string>{{752,1964},{173,76}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Fire-4.png</string>
                        <key>spriteOffset</key>
                        <string>{569,259}</string>
                        <key>spriteSourceSize</key>
                        <string>{1569,532}</string>
                        <key>textureRect</key>
                        <string>{{1262,716},{108,273}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Fire-2.png</string>
                        <key>spriteOffset</key>
                        <string>{569,275}</string>
                        <key>spriteSourceSize</key>
                        <string>{1569,532}</string>
                        <key>textureRect</key>
                        <string>{{927,1964},{143,76}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Fire-1.png</string>
                        <key>spriteOffset</key>
                        <string>{569,283}</string>
                        <key>spriteSourceSize</key>
                        <string>{1569,532}</string>
                        <key>textureRect</key>
                        <string>{{1072,1964},{103,60}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Fire-0.png</string>
                        <key>spriteOffset</key>
                        <string>{0,531}</string>
                        <key>spriteSourceSize</key>
                        <string>{1569,532}</string>
                        <key>textureRect</key>
                        <string>{{858,793},{1,1}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Fire-17.png</string>
                        <key>spriteOffset</key>
                        <string>{0,531}</string>
                        <key>spriteSourceSize</key>
                        <string>{1569,532}</string>
                        <key>textureRect</key>
                        <string>{{858,793},{1,1}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
