<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 3.8.0 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d137ab800822d70bee3aff243963cb5a:ea16ae83f73deb34608de126deacb4e0:07579c414d9c323228afd740d60da388$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>lantern_house.1.png</string>
                <key>size</key>
                <string>{809,1001}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lantern_house_14.png</string>
                        <key>spriteOffset</key>
                        <string>{678,611}</string>
                        <key>spriteSourceSize</key>
                        <string>{1525,1127}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{316,308}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lantern_house_15.png</string>
                        <key>spriteOffset</key>
                        <string>{684,611}</string>
                        <key>spriteSourceSize</key>
                        <string>{1525,1127}</string>
                        <key>textureRect</key>
                        <string>{{319,1},{310,308}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lantern_house_06.png</string>
                        <key>spriteOffset</key>
                        <string>{678,600}</string>
                        <key>spriteSourceSize</key>
                        <string>{1525,1127}</string>
                        <key>textureRect</key>
                        <string>{{631,1},{161,194}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lantern_house_04.png</string>
                        <key>spriteOffset</key>
                        <string>{678,600}</string>
                        <key>spriteSourceSize</key>
                        <string>{1525,1127}</string>
                        <key>textureRect</key>
                        <string>{{631,197},{159,117}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lantern_house_13.png</string>
                        <key>spriteOffset</key>
                        <string>{679,602}</string>
                        <key>spriteSourceSize</key>
                        <string>{1525,1127}</string>
                        <key>textureRect</key>
                        <string>{{1,311},{307,303}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lantern_house_12.png</string>
                        <key>spriteOffset</key>
                        <string>{685,600}</string>
                        <key>spriteSourceSize</key>
                        <string>{1525,1127}</string>
                        <key>textureRect</key>
                        <string>{{310,311},{286,276}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lantern_house_08.png</string>
                        <key>spriteOffset</key>
                        <string>{678,600}</string>
                        <key>spriteSourceSize</key>
                        <string>{1525,1127}</string>
                        <key>textureRect</key>
                        <string>{{598,316},{209,207}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lantern_house_07.png</string>
                        <key>spriteOffset</key>
                        <string>{678,600}</string>
                        <key>spriteSourceSize</key>
                        <string>{1525,1127}</string>
                        <key>textureRect</key>
                        <string>{{598,525},{201,185}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lantern_house_11.png</string>
                        <key>spriteOffset</key>
                        <string>{678,600}</string>
                        <key>spriteSourceSize</key>
                        <string>{1525,1127}</string>
                        <key>textureRect</key>
                        <string>{{310,589},{271,254}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lantern_house_09.png</string>
                        <key>spriteOffset</key>
                        <string>{678,600}</string>
                        <key>spriteSourceSize</key>
                        <string>{1525,1127}</string>
                        <key>textureRect</key>
                        <string>{{583,712},{225,226}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lantern_house_01.png</string>
                        <key>spriteOffset</key>
                        <string>{686,612}</string>
                        <key>spriteSourceSize</key>
                        <string>{1525,1127}</string>
                        <key>textureRect</key>
                        <string>{{1,940},{36,50}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lantern_house_10.png</string>
                        <key>spriteOffset</key>
                        <string>{678,600}</string>
                        <key>spriteSourceSize</key>
                        <string>{1525,1127}</string>
                        <key>textureRect</key>
                        <string>{{39,616},{248,240}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lantern_house_05.png</string>
                        <key>spriteOffset</key>
                        <string>{678,600}</string>
                        <key>spriteSourceSize</key>
                        <string>{1525,1127}</string>
                        <key>textureRect</key>
                        <string>{{39,858},{185,134}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lantern_house_03.png</string>
                        <key>spriteOffset</key>
                        <string>{678,600}</string>
                        <key>spriteSourceSize</key>
                        <string>{1525,1127}</string>
                        <key>textureRect</key>
                        <string>{{226,858},{97,123}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lantern_house_02.png</string>
                        <key>spriteOffset</key>
                        <string>{678,600}</string>
                        <key>spriteSourceSize</key>
                        <string>{1525,1127}</string>
                        <key>textureRect</key>
                        <string>{{325,845},{97,117}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
