<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 3.8.0 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e6b7239ca671e5a1c6299e8f42b3387:6f39c50befdeb72b50285a84b5025bd9:07579c414d9c323228afd740d60da388$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>lantern_house.1.png</string>
                <key>size</key>
                <string>{996,1280}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lantern_house_full.png</string>
                        <key>spriteOffset</key>
                        <string>{111,80}</string>
                        <key>spriteSourceSize</key>
                        <string>{1525,1127}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{684,684}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lantern_house_14.png</string>
                        <key>spriteOffset</key>
                        <string>{678,611}</string>
                        <key>spriteSourceSize</key>
                        <string>{1525,1127}</string>
                        <key>textureRect</key>
                        <string>{{687,1},{308,316}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lantern_house_15.png</string>
                        <key>spriteOffset</key>
                        <string>{684,611}</string>
                        <key>spriteSourceSize</key>
                        <string>{1525,1127}</string>
                        <key>textureRect</key>
                        <string>{{687,319},{308,310}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lantern_house_13.png</string>
                        <key>spriteOffset</key>
                        <string>{679,602}</string>
                        <key>spriteSourceSize</key>
                        <string>{1525,1127}</string>
                        <key>textureRect</key>
                        <string>{{687,631},{307,303}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lantern_house_12.png</string>
                        <key>spriteOffset</key>
                        <string>{685,600}</string>
                        <key>spriteSourceSize</key>
                        <string>{1525,1127}</string>
                        <key>textureRect</key>
                        <string>{{1,936},{276,286}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lantern_house_01.png</string>
                        <key>spriteOffset</key>
                        <string>{686,612}</string>
                        <key>spriteSourceSize</key>
                        <string>{1525,1127}</string>
                        <key>textureRect</key>
                        <string>{{1,1224},{36,50}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lantern_house_10.png</string>
                        <key>spriteOffset</key>
                        <string>{678,600}</string>
                        <key>spriteSourceSize</key>
                        <string>{1525,1127}</string>
                        <key>textureRect</key>
                        <string>{{1,687},{248,240}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lantern_house_09.png</string>
                        <key>spriteOffset</key>
                        <string>{678,600}</string>
                        <key>spriteSourceSize</key>
                        <string>{1525,1127}</string>
                        <key>textureRect</key>
                        <string>{{251,687},{225,226}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lantern_house_11.png</string>
                        <key>spriteOffset</key>
                        <string>{678,600}</string>
                        <key>spriteSourceSize</key>
                        <string>{1525,1127}</string>
                        <key>textureRect</key>
                        <string>{{279,915},{254,271}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lantern_house_08.png</string>
                        <key>spriteOffset</key>
                        <string>{678,600}</string>
                        <key>spriteSourceSize</key>
                        <string>{1525,1127}</string>
                        <key>textureRect</key>
                        <string>{{478,687},{207,209}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lantern_house_05.png</string>
                        <key>spriteOffset</key>
                        <string>{678,600}</string>
                        <key>spriteSourceSize</key>
                        <string>{1525,1127}</string>
                        <key>textureRect</key>
                        <string>{{535,898},{134,185}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lantern_house_07.png</string>
                        <key>spriteOffset</key>
                        <string>{678,600}</string>
                        <key>spriteSourceSize</key>
                        <string>{1525,1127}</string>
                        <key>textureRect</key>
                        <string>{{535,1085},{201,185}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lantern_house_04.png</string>
                        <key>spriteOffset</key>
                        <string>{678,600}</string>
                        <key>spriteSourceSize</key>
                        <string>{1525,1127}</string>
                        <key>textureRect</key>
                        <string>{{671,936},{159,117}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lantern_house_06.png</string>
                        <key>spriteOffset</key>
                        <string>{678,600}</string>
                        <key>spriteSourceSize</key>
                        <string>{1525,1127}</string>
                        <key>textureRect</key>
                        <string>{{832,936},{161,194}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lantern_house_03.png</string>
                        <key>spriteOffset</key>
                        <string>{678,600}</string>
                        <key>spriteSourceSize</key>
                        <string>{1525,1127}</string>
                        <key>textureRect</key>
                        <string>{{738,1132},{97,123}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lantern_house_02.png</string>
                        <key>spriteOffset</key>
                        <string>{678,600}</string>
                        <key>spriteSourceSize</key>
                        <string>{1525,1127}</string>
                        <key>textureRect</key>
                        <string>{{837,1132},{97,117}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
