<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 3.9.1 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0cd9987e84acc01849b55513cfb153aa:f3b33d539689016b8f0c65fb753422af:7d8cb3861e01b941943ecc013ca6985f$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>goblin_anim.1.png</string>
                <key>size</key>
                <string>{1673,399}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>goblin_background.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{215,417}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{417,215}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>goblin_frame_01.png</string>
                        <key>spriteOffset</key>
                        <string>{14,237}</string>
                        <key>spriteSourceSize</key>
                        <string>{215,417}</string>
                        <key>textureRect</key>
                        <string>{{1,218},{189,180}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>goblin_frame_02.png</string>
                        <key>spriteOffset</key>
                        <string>{14,237}</string>
                        <key>spriteSourceSize</key>
                        <string>{215,417}</string>
                        <key>textureRect</key>
                        <string>{{192,218},{189,180}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>goblin_frame_03.png</string>
                        <key>spriteOffset</key>
                        <string>{14,237}</string>
                        <key>spriteSourceSize</key>
                        <string>{215,417}</string>
                        <key>textureRect</key>
                        <string>{{383,218},{189,180}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>goblin_frame_11.png</string>
                        <key>spriteOffset</key>
                        <string>{14,234}</string>
                        <key>spriteSourceSize</key>
                        <string>{215,417}</string>
                        <key>textureRect</key>
                        <string>{{420,1},{183,189}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>goblin_frame_04.png</string>
                        <key>spriteOffset</key>
                        <string>{14,237}</string>
                        <key>spriteSourceSize</key>
                        <string>{215,417}</string>
                        <key>textureRect</key>
                        <string>{{574,192},{180,189}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>goblin_frame_05.png</string>
                        <key>spriteOffset</key>
                        <string>{14,237}</string>
                        <key>spriteSourceSize</key>
                        <string>{215,417}</string>
                        <key>textureRect</key>
                        <string>{{605,1},{180,189}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>goblin_frame_06.png</string>
                        <key>spriteOffset</key>
                        <string>{14,237}</string>
                        <key>spriteSourceSize</key>
                        <string>{215,417}</string>
                        <key>textureRect</key>
                        <string>{{756,192},{180,189}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>goblin_frame_07.png</string>
                        <key>spriteOffset</key>
                        <string>{14,237}</string>
                        <key>spriteSourceSize</key>
                        <string>{215,417}</string>
                        <key>textureRect</key>
                        <string>{{787,1},{180,189}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>goblin_frame_08.png</string>
                        <key>spriteOffset</key>
                        <string>{14,237}</string>
                        <key>spriteSourceSize</key>
                        <string>{215,417}</string>
                        <key>textureRect</key>
                        <string>{{938,192},{180,189}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>goblin_frame_09.png</string>
                        <key>spriteOffset</key>
                        <string>{14,237}</string>
                        <key>spriteSourceSize</key>
                        <string>{215,417}</string>
                        <key>textureRect</key>
                        <string>{{969,1},{180,189}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>goblin_frame_10.png</string>
                        <key>spriteOffset</key>
                        <string>{14,237}</string>
                        <key>spriteSourceSize</key>
                        <string>{215,417}</string>
                        <key>textureRect</key>
                        <string>{{1120,192},{180,189}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>goblin_frame_12.png</string>
                        <key>spriteOffset</key>
                        <string>{14,237}</string>
                        <key>spriteSourceSize</key>
                        <string>{215,417}</string>
                        <key>textureRect</key>
                        <string>{{1151,1},{180,189}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>goblin_frame_13.png</string>
                        <key>spriteOffset</key>
                        <string>{14,237}</string>
                        <key>spriteSourceSize</key>
                        <string>{215,417}</string>
                        <key>textureRect</key>
                        <string>{{1302,192},{180,189}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>goblin_frame_14.png</string>
                        <key>spriteOffset</key>
                        <string>{14,237}</string>
                        <key>spriteSourceSize</key>
                        <string>{215,417}</string>
                        <key>textureRect</key>
                        <string>{{1333,1},{180,189}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>goblin_frame_15.png</string>
                        <key>spriteOffset</key>
                        <string>{14,237}</string>
                        <key>spriteSourceSize</key>
                        <string>{215,417}</string>
                        <key>textureRect</key>
                        <string>{{1484,192},{180,189}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>goblin_wrench.png</string>
                        <key>spriteOffset</key>
                        <string>{9,180}</string>
                        <key>spriteSourceSize</key>
                        <string>{215,417}</string>
                        <key>textureRect</key>
                        <string>{{1515,1},{111,187}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
