<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 3.9.1 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:875ef5ee3bf8861b91d5d59024a1f3e8:a47fd62d9e479af92badf8054cecd290:5e7d79e99fe36a7abbb042cb62086f33$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>sheep_anim.1.png</string>
                <key>size</key>
                <string>{4095,1021}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>sheep_anim_01.png</string>
                        <key>spriteOffset</key>
                        <string>{4,40}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,600}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{518,594}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>sheep_anim_29.png</string>
                        <key>spriteOffset</key>
                        <string>{4,40}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,600}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{518,594}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>sheep_anim_08.png</string>
                        <key>spriteOffset</key>
                        <string>{5,104}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,600}</string>
                        <key>textureRect</key>
                        <string>{{1,597},{583,422}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>sheep_anim_22.png</string>
                        <key>spriteOffset</key>
                        <string>{5,104}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,600}</string>
                        <key>textureRect</key>
                        <string>{{1,597},{583,422}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>sheep_anim_02.png</string>
                        <key>spriteOffset</key>
                        <string>{5,49}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,600}</string>
                        <key>textureRect</key>
                        <string>{{521,1},{499,591}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>sheep_anim_28.png</string>
                        <key>spriteOffset</key>
                        <string>{5,49}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,600}</string>
                        <key>textureRect</key>
                        <string>{{521,1},{499,591}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>sheep_anim_12.png</string>
                        <key>spriteOffset</key>
                        <string>{5,102}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,600}</string>
                        <key>textureRect</key>
                        <string>{{586,594},{583,424}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>sheep_anim_18.png</string>
                        <key>spriteOffset</key>
                        <string>{5,102}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,600}</string>
                        <key>textureRect</key>
                        <string>{{586,594},{583,424}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>sheep_anim_03.png</string>
                        <key>spriteOffset</key>
                        <string>{5,58}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,600}</string>
                        <key>textureRect</key>
                        <string>{{1022,1},{480,589}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>sheep_anim_27.png</string>
                        <key>spriteOffset</key>
                        <string>{5,58}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,600}</string>
                        <key>textureRect</key>
                        <string>{{1022,1},{480,589}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>sheep_anim_11.png</string>
                        <key>spriteOffset</key>
                        <string>{5,112}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,600}</string>
                        <key>textureRect</key>
                        <string>{{1171,592},{583,414}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>sheep_anim_19.png</string>
                        <key>spriteOffset</key>
                        <string>{5,112}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,600}</string>
                        <key>textureRect</key>
                        <string>{{1171,592},{583,414}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>sheep_anim_04.png</string>
                        <key>spriteOffset</key>
                        <string>{5,67}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,600}</string>
                        <key>textureRect</key>
                        <string>{{1504,1},{461,587}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>sheep_anim_26.png</string>
                        <key>spriteOffset</key>
                        <string>{5,67}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,600}</string>
                        <key>textureRect</key>
                        <string>{{1504,1},{461,587}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>sheep_anim_09.png</string>
                        <key>spriteOffset</key>
                        <string>{5,113}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,600}</string>
                        <key>textureRect</key>
                        <string>{{1756,590},{583,413}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>sheep_anim_21.png</string>
                        <key>spriteOffset</key>
                        <string>{5,113}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,600}</string>
                        <key>textureRect</key>
                        <string>{{1756,590},{583,413}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>sheep_anim_05.png</string>
                        <key>spriteOffset</key>
                        <string>{5,77}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,600}</string>
                        <key>textureRect</key>
                        <string>{{1967,1},{449,585}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>sheep_anim_25.png</string>
                        <key>spriteOffset</key>
                        <string>{5,77}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,600}</string>
                        <key>textureRect</key>
                        <string>{{1967,1},{449,585}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>sheep_anim_07.png</string>
                        <key>spriteOffset</key>
                        <string>{5,95}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,600}</string>
                        <key>textureRect</key>
                        <string>{{2341,588},{583,431}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>sheep_anim_23.png</string>
                        <key>spriteOffset</key>
                        <string>{5,95}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,600}</string>
                        <key>textureRect</key>
                        <string>{{2341,588},{583,431}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>sheep_anim_15.png</string>
                        <key>spriteOffset</key>
                        <string>{5,72}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,600}</string>
                        <key>textureRect</key>
                        <string>{{2418,1},{454,583}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>sheep_anim_14.png</string>
                        <key>spriteOffset</key>
                        <string>{5,82}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,600}</string>
                        <key>textureRect</key>
                        <string>{{2874,1},{444,583}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>sheep_anim_16.png</string>
                        <key>spriteOffset</key>
                        <string>{5,82}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,600}</string>
                        <key>textureRect</key>
                        <string>{{2874,1},{444,583}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>sheep_anim_13.png</string>
                        <key>spriteOffset</key>
                        <string>{5,92}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,600}</string>
                        <key>textureRect</key>
                        <string>{{2926,586},{583,434}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>sheep_anim_17.png</string>
                        <key>spriteOffset</key>
                        <string>{5,92}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,600}</string>
                        <key>textureRect</key>
                        <string>{{2926,586},{583,434}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>sheep_anim_06.png</string>
                        <key>spriteOffset</key>
                        <string>{5,86}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,600}</string>
                        <key>textureRect</key>
                        <string>{{3320,1},{440,583}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>sheep_anim_24.png</string>
                        <key>spriteOffset</key>
                        <string>{5,86}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,600}</string>
                        <key>textureRect</key>
                        <string>{{3320,1},{440,583}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>sheep_anim_10.png</string>
                        <key>spriteOffset</key>
                        <string>{5,122}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,600}</string>
                        <key>textureRect</key>
                        <string>{{3511,586},{583,404}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>sheep_anim_20.png</string>
                        <key>spriteOffset</key>
                        <string>{5,122}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,600}</string>
                        <key>textureRect</key>
                        <string>{{3511,586},{583,404}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
