<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 4.0.1 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f04d4b820717d7d427bf6d2754285ae2:d9c6ed2b4b0a3f3c0973ef510de4f38a:ee93b048dc580abf1c96c013ecdd00db$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>skelet_anim.1.png</string>
                <key>size</key>
                <string>{1926,433}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>skelet_01.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{527,443}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{500,431}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>skelet_02.png</string>
                        <key>spriteOffset</key>
                        <string>{268,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{527,443}</string>
                        <key>textureRect</key>
                        <string>{{503,1},{232,431}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>skelet_03.png</string>
                        <key>spriteOffset</key>
                        <string>{267,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{527,443}</string>
                        <key>textureRect</key>
                        <string>{{737,1},{250,383}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>skelet_04.png</string>
                        <key>spriteOffset</key>
                        <string>{267,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{527,443}</string>
                        <key>textureRect</key>
                        <string>{{989,1},{250,335}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>skelet_05.png</string>
                        <key>spriteOffset</key>
                        <string>{267,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{527,443}</string>
                        <key>textureRect</key>
                        <string>{{1241,1},{250,287}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>skelet_06.png</string>
                        <key>spriteOffset</key>
                        <string>{267,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{527,443}</string>
                        <key>textureRect</key>
                        <string>{{1493,1},{239,250}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>skelet_07.png</string>
                        <key>spriteOffset</key>
                        <string>{267,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{527,443}</string>
                        <key>textureRect</key>
                        <string>{{1734,1},{191,250}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>skelet_08.png</string>
                        <key>spriteOffset</key>
                        <string>{254,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{527,443}</string>
                        <key>textureRect</key>
                        <string>{{1493,253},{265,159}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
