<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 3.9.1 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8dcd3825c0196554ae9b2043233e5c0a:d9c6ed2b4b0a3f3c0973ef510de4f38a:ee93b048dc580abf1c96c013ecdd00db$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>skelet_anim.1.png</string>
                <key>size</key>
                <string>{1893,432}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>skelet_01.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{527,443}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{499,430}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>skelet_02.png</string>
                        <key>spriteOffset</key>
                        <string>{269,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{527,443}</string>
                        <key>textureRect</key>
                        <string>{{502,1},{230,430}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>skelet_03.png</string>
                        <key>spriteOffset</key>
                        <string>{268,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{527,443}</string>
                        <key>textureRect</key>
                        <string>{{734,1},{248,382}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>skelet_04.png</string>
                        <key>spriteOffset</key>
                        <string>{268,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{527,443}</string>
                        <key>textureRect</key>
                        <string>{{984,1},{248,334}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>skelet_05.png</string>
                        <key>spriteOffset</key>
                        <string>{268,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{527,443}</string>
                        <key>textureRect</key>
                        <string>{{1234,1},{248,286}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>skelet_06.png</string>
                        <key>spriteOffset</key>
                        <string>{268,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{527,443}</string>
                        <key>textureRect</key>
                        <string>{{1484,1},{248,238}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>skelet_08.png</string>
                        <key>spriteOffset</key>
                        <string>{255,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{527,443}</string>
                        <key>textureRect</key>
                        <string>{{1734,1},{158,263}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>skelet_07.png</string>
                        <key>spriteOffset</key>
                        <string>{268,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{527,443}</string>
                        <key>textureRect</key>
                        <string>{{1484,241},{248,190}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
