<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 3.8.0 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e41b16c85f08479889c04fd6de2b90b:a47b7de285e34f1e8ba7c0051acf49df:1c3ed46b939d1d55011631720124eed7$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>jay_anim.1.png</string>
                <key>size</key>
                <string>{844,1011}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>jay_full_portrait.png</string>
                        <key>spriteOffset</key>
                        <string>{245,110}</string>
                        <key>spriteSourceSize</key>
                        <string>{814,1126}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{324,905}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>jay_pendant_15.png</string>
                        <key>spriteOffset</key>
                        <string>{405,128}</string>
                        <key>spriteSourceSize</key>
                        <string>{814,1126}</string>
                        <key>textureRect</key>
                        <string>{{1,908},{365,102}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>jay_pendant_14.png</string>
                        <key>spriteOffset</key>
                        <string>{405,145}</string>
                        <key>spriteSourceSize</key>
                        <string>{814,1126}</string>
                        <key>textureRect</key>
                        <string>{{327,1},{102,353}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>jay_pendant_13.png</string>
                        <key>spriteOffset</key>
                        <string>{405,161}</string>
                        <key>spriteSourceSize</key>
                        <string>{814,1126}</string>
                        <key>textureRect</key>
                        <string>{{327,356},{102,337}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>jay_pendant_12.png</string>
                        <key>spriteOffset</key>
                        <string>{405,178}</string>
                        <key>spriteSourceSize</key>
                        <string>{814,1126}</string>
                        <key>textureRect</key>
                        <string>{{431,1},{102,320}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>jay_pendant_11.png</string>
                        <key>spriteOffset</key>
                        <string>{405,194}</string>
                        <key>spriteSourceSize</key>
                        <string>{814,1126}</string>
                        <key>textureRect</key>
                        <string>{{431,323},{102,304}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>jay_pendant_10.png</string>
                        <key>spriteOffset</key>
                        <string>{405,211}</string>
                        <key>spriteSourceSize</key>
                        <string>{814,1126}</string>
                        <key>textureRect</key>
                        <string>{{535,1},{102,287}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>jay_pendant_05.png</string>
                        <key>spriteOffset</key>
                        <string>{405,294}</string>
                        <key>spriteSourceSize</key>
                        <string>{814,1126}</string>
                        <key>textureRect</key>
                        <string>{{639,1},{204,102}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>jay_pendant_09.png</string>
                        <key>spriteOffset</key>
                        <string>{405,228}</string>
                        <key>spriteSourceSize</key>
                        <string>{814,1126}</string>
                        <key>textureRect</key>
                        <string>{{535,290},{102,270}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>jay_pendant_08.png</string>
                        <key>spriteOffset</key>
                        <string>{405,244}</string>
                        <key>spriteSourceSize</key>
                        <string>{814,1126}</string>
                        <key>textureRect</key>
                        <string>{{639,105},{102,254}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>jay_blick_00.png</string>
                        <key>spriteOffset</key>
                        <string>{321,814}</string>
                        <key>spriteSourceSize</key>
                        <string>{814,1126}</string>
                        <key>textureRect</key>
                        <string>{{743,105},{100,109}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>jay_blick_01.png</string>
                        <key>spriteOffset</key>
                        <string>{329,816}</string>
                        <key>spriteSourceSize</key>
                        <string>{814,1126}</string>
                        <key>textureRect</key>
                        <string>{{743,216},{100,109}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>jay_pendant_06.png</string>
                        <key>spriteOffset</key>
                        <string>{405,277}</string>
                        <key>spriteSourceSize</key>
                        <string>{814,1126}</string>
                        <key>textureRect</key>
                        <string>{{639,361},{102,221}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>jay_blick_06.png</string>
                        <key>spriteOffset</key>
                        <string>{366,826}</string>
                        <key>spriteSourceSize</key>
                        <string>{814,1126}</string>
                        <key>textureRect</key>
                        <string>{{743,327},{100,109}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>jay_blick_07.png</string>
                        <key>spriteOffset</key>
                        <string>{373,827}</string>
                        <key>spriteSourceSize</key>
                        <string>{814,1126}</string>
                        <key>textureRect</key>
                        <string>{{743,438},{100,109}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>jay_pendant_04.png</string>
                        <key>spriteOffset</key>
                        <string>{405,311}</string>
                        <key>spriteSourceSize</key>
                        <string>{814,1126}</string>
                        <key>textureRect</key>
                        <string>{{327,695},{102,187}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>jay_pendant_07.png</string>
                        <key>spriteOffset</key>
                        <string>{405,261}</string>
                        <key>spriteSourceSize</key>
                        <string>{814,1126}</string>
                        <key>textureRect</key>
                        <string>{{431,629},{102,237}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>jay_pendant_03.png</string>
                        <key>spriteOffset</key>
                        <string>{405,327}</string>
                        <key>spriteSourceSize</key>
                        <string>{814,1126}</string>
                        <key>textureRect</key>
                        <string>{{535,562},{102,171}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>jay_pendant_02.png</string>
                        <key>spriteOffset</key>
                        <string>{405,344}</string>
                        <key>spriteSourceSize</key>
                        <string>{814,1126}</string>
                        <key>textureRect</key>
                        <string>{{639,584},{102,154}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>jay_blick_03.png</string>
                        <key>spriteOffset</key>
                        <string>{344,820}</string>
                        <key>spriteSourceSize</key>
                        <string>{814,1126}</string>
                        <key>textureRect</key>
                        <string>{{743,549},{100,108}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>jay_pendant_00.png</string>
                        <key>spriteOffset</key>
                        <string>{405,376}</string>
                        <key>spriteSourceSize</key>
                        <string>{814,1126}</string>
                        <key>textureRect</key>
                        <string>{{535,735},{102,133}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>jay_pendant_01.png</string>
                        <key>spriteOffset</key>
                        <string>{405,360}</string>
                        <key>spriteSourceSize</key>
                        <string>{814,1126}</string>
                        <key>textureRect</key>
                        <string>{{639,740},{102,138}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>jay_blick_04.png</string>
                        <key>spriteOffset</key>
                        <string>{351,823}</string>
                        <key>spriteSourceSize</key>
                        <string>{814,1126}</string>
                        <key>textureRect</key>
                        <string>{{743,659},{99,108}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>jay_blick_05.png</string>
                        <key>spriteOffset</key>
                        <string>{358,823}</string>
                        <key>spriteSourceSize</key>
                        <string>{814,1126}</string>
                        <key>textureRect</key>
                        <string>{{368,884},{101,109}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>jay_blick_02.png</string>
                        <key>spriteOffset</key>
                        <string>{337,818}</string>
                        <key>spriteSourceSize</key>
                        <string>{814,1126}</string>
                        <key>textureRect</key>
                        <string>{{471,870},{108,101}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
