<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 3.8.0 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:813738bcf82193d1d445151b6c87c490:d7f1996cc5826c27dc54ac9ae73a82f5:46c4daf949f4e8776ac3b99f69fe8cec$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>cafe_frames.1.png</string>
                <key>size</key>
                <string>{1086,1010}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>cafe_turned_off.png</string>
                        <key>spriteOffset</key>
                        <string>{49,59}</string>
                        <key>spriteSourceSize</key>
                        <string>{1525,1127}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{541,1008}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>cafe_turned_on.png</string>
                        <key>spriteOffset</key>
                        <string>{49,59}</string>
                        <key>spriteSourceSize</key>
                        <string>{1525,1127}</string>
                        <key>textureRect</key>
                        <string>{{544,1},{541,1008}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
