<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 3.8.0 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9614942870c01842579c5027b169f24c:648db6898c7f5261a48a994cecef940d:822f750e89157733ae848be9ee61efe9$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>furcoat_anim.1.png</string>
                <key>size</key>
                <string>{1504,2926}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>furcoat_anim_02.png</string>
                        <key>spriteOffset</key>
                        <string>{37,188}</string>
                        <key>spriteSourceSize</key>
                        <string>{814,1126}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{750,726}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>furcoat_anim_03.png</string>
                        <key>spriteOffset</key>
                        <string>{38,188}</string>
                        <key>spriteSourceSize</key>
                        <string>{814,1126}</string>
                        <key>textureRect</key>
                        <string>{{753,1},{750,726}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>furcoat_anim_07.png</string>
                        <key>spriteOffset</key>
                        <string>{38,188}</string>
                        <key>spriteSourceSize</key>
                        <string>{814,1126}</string>
                        <key>textureRect</key>
                        <string>{{753,1},{750,726}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>furcoat_anim_04.png</string>
                        <key>spriteOffset</key>
                        <string>{38,188}</string>
                        <key>spriteSourceSize</key>
                        <string>{814,1126}</string>
                        <key>textureRect</key>
                        <string>{{1,729},{750,726}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>furcoat_anim_05.png</string>
                        <key>spriteOffset</key>
                        <string>{38,188}</string>
                        <key>spriteSourceSize</key>
                        <string>{814,1126}</string>
                        <key>textureRect</key>
                        <string>{{753,729},{750,726}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>furcoat_anim_06.png</string>
                        <key>spriteOffset</key>
                        <string>{38,188}</string>
                        <key>spriteSourceSize</key>
                        <string>{814,1126}</string>
                        <key>textureRect</key>
                        <string>{{1,1457},{750,726}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>furcoat_anim_08.png</string>
                        <key>spriteOffset</key>
                        <string>{37,188}</string>
                        <key>spriteSourceSize</key>
                        <string>{814,1126}</string>
                        <key>textureRect</key>
                        <string>{{753,1457},{750,726}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>furcoat_anim_01.png</string>
                        <key>spriteOffset</key>
                        <string>{37,188}</string>
                        <key>spriteSourceSize</key>
                        <string>{814,1126}</string>
                        <key>textureRect</key>
                        <string>{{1,2185},{750,740}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>furcoat_anim_09.png</string>
                        <key>spriteOffset</key>
                        <string>{37,188}</string>
                        <key>spriteSourceSize</key>
                        <string>{814,1126}</string>
                        <key>textureRect</key>
                        <string>{{753,2185},{750,740}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
