<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 3.8.0 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a6489dfb0e80e603cd6d0e0cc01540b:caf121e3f413c10337938cde23cee44c:f8ec107e700d6be6498b4bec10788362$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>justacreep_anim.1.png</string>
                <key>size</key>
                <string>{965,703}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>justacreep_full_portrait.png</string>
                        <key>spriteOffset</key>
                        <string>{118,49}</string>
                        <key>spriteSourceSize</key>
                        <string>{814,1126}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{961,570}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>justacreep_hat.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{147,129}</string>
                        <key>textureRect</key>
                        <string>{{1,573},{147,129}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <true/>
                        <key>name</key>
                        <string>justacreep_bottom_texture.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{814,10}</string>
                        <key>textureRect</key>
                        <string>{{150,573},{814,10}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>justacreep_bottom.png</string>
                        <key>spriteOffset</key>
                        <string>{0,9}</string>
                        <key>spriteSourceSize</key>
                        <string>{814,10}</string>
                        <key>textureRect</key>
                        <string>{{150,585},{1,1}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
