<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 3.9.2 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be3aba7472e626ad0258036d45c082c6:06368ef338b31dc341aee5df5add8482:aacf86d0dc79f09521069264a85dde4e$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>cat_anim.1.png</string>
                <key>size</key>
                <string>{976,683}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>cat_anim_die.png</string>
                        <key>spriteOffset</key>
                        <string>{70,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{425,760}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{287,681}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>cat_anim_live.png</string>
                        <key>spriteOffset</key>
                        <string>{69,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{425,760}</string>
                        <key>textureRect</key>
                        <string>{{290,1},{685,287}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>cat_anim_propeller-3.png</string>
                        <key>spriteOffset</key>
                        <string>{21,681}</string>
                        <key>spriteSourceSize</key>
                        <string>{425,760}</string>
                        <key>textureRect</key>
                        <string>{{290,290},{79,385}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>cat_anim_propeller-4.png</string>
                        <key>spriteOffset</key>
                        <string>{36,681}</string>
                        <key>spriteSourceSize</key>
                        <string>{425,760}</string>
                        <key>textureRect</key>
                        <string>{{371,290},{79,355}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>cat_anim_propeller-5.png</string>
                        <key>spriteOffset</key>
                        <string>{35,681}</string>
                        <key>spriteSourceSize</key>
                        <string>{425,760}</string>
                        <key>textureRect</key>
                        <string>{{452,290},{79,354}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>cat_anim_propeller-1.png</string>
                        <key>spriteOffset</key>
                        <string>{2,681}</string>
                        <key>spriteSourceSize</key>
                        <string>{425,760}</string>
                        <key>textureRect</key>
                        <string>{{533,290},{422,79}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>cat_anim_propeller-7.png</string>
                        <key>spriteOffset</key>
                        <string>{2,681}</string>
                        <key>spriteSourceSize</key>
                        <string>{425,760}</string>
                        <key>textureRect</key>
                        <string>{{533,371},{419,79}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>cat_anim_propeller-2.png</string>
                        <key>spriteOffset</key>
                        <string>{10,681}</string>
                        <key>spriteSourceSize</key>
                        <string>{425,760}</string>
                        <key>textureRect</key>
                        <string>{{533,452},{406,79}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>cat_anim_propeller-6.png</string>
                        <key>spriteOffset</key>
                        <string>{17,681}</string>
                        <key>spriteSourceSize</key>
                        <string>{425,760}</string>
                        <key>textureRect</key>
                        <string>{{533,533},{393,79}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
