<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 3.8.0 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac1b109af91ad44634eda85a81539445:ac7d1e1cd5f30b04e319a2214d646824:ae540a636c33676c213d0e1175ae45e5$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>miner_anim.1.png</string>
                <key>size</key>
                <string>{897,344}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>miner_anim_05.png</string>
                        <key>spriteOffset</key>
                        <string>{369,781}</string>
                        <key>spriteSourceSize</key>
                        <string>{814,1126}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{245,174}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>miner_anim_04.png</string>
                        <key>spriteOffset</key>
                        <string>{374,786}</string>
                        <key>spriteSourceSize</key>
                        <string>{814,1126}</string>
                        <key>textureRect</key>
                        <string>{{248,1},{239,170}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>miner_anim_06.png</string>
                        <key>spriteOffset</key>
                        <string>{374,786}</string>
                        <key>spriteSourceSize</key>
                        <string>{814,1126}</string>
                        <key>textureRect</key>
                        <string>{{489,1},{239,170}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>miner_anim_02.png</string>
                        <key>spriteOffset</key>
                        <string>{384,794}</string>
                        <key>spriteSourceSize</key>
                        <string>{814,1126}</string>
                        <key>textureRect</key>
                        <string>{{730,1},{166,227}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>miner_anim_08.png</string>
                        <key>spriteOffset</key>
                        <string>{384,794}</string>
                        <key>spriteSourceSize</key>
                        <string>{814,1126}</string>
                        <key>textureRect</key>
                        <string>{{730,1},{166,227}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>miner_anim_03.png</string>
                        <key>spriteOffset</key>
                        <string>{379,790}</string>
                        <key>spriteSourceSize</key>
                        <string>{814,1126}</string>
                        <key>textureRect</key>
                        <string>{{248,173},{233,168}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>miner_anim_07.png</string>
                        <key>spriteOffset</key>
                        <string>{379,790}</string>
                        <key>spriteSourceSize</key>
                        <string>{814,1126}</string>
                        <key>textureRect</key>
                        <string>{{483,173},{233,168}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>miner_anim_01.png</string>
                        <key>spriteOffset</key>
                        <string>{387,801}</string>
                        <key>spriteSourceSize</key>
                        <string>{814,1126}</string>
                        <key>textureRect</key>
                        <string>{{1,177},{220,166}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>miner_anim_09.png</string>
                        <key>spriteOffset</key>
                        <string>{387,801}</string>
                        <key>spriteSourceSize</key>
                        <string>{814,1126}</string>
                        <key>textureRect</key>
                        <string>{{1,177},{220,166}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
