<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 4.0.1 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1e087939412f6582f223a9922e0e090:b0cbe0d06cc381fbbf14d94187d83979:04bcad90459b8200f07e360eb6da4be2$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>bat_anim.1.png</string>
                <key>size</key>
                <string>{1890,2023}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>bat_17.png</string>
                        <key>spriteOffset</key>
                        <string>{47,149}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,600}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{535,318}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>bat_18.png</string>
                        <key>spriteOffset</key>
                        <string>{52,140}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,600}</string>
                        <key>textureRect</key>
                        <string>{{1,321},{521,322}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>bat_19.png</string>
                        <key>spriteOffset</key>
                        <string>{58,131}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,600}</string>
                        <key>textureRect</key>
                        <string>{{1,645},{505,329}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>bat_16.png</string>
                        <key>spriteOffset</key>
                        <string>{52,157}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,600}</string>
                        <key>textureRect</key>
                        <string>{{538,1},{521,305}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>bat_20.png</string>
                        <key>spriteOffset</key>
                        <string>{66,131}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,600}</string>
                        <key>textureRect</key>
                        <string>{{1,976},{486,331}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>bat_1.png</string>
                        <key>spriteOffset</key>
                        <string>{47,195}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,600}</string>
                        <key>textureRect</key>
                        <string>{{1061,1},{535,272}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>bat_21.png</string>
                        <key>spriteOffset</key>
                        <string>{73,131}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,600}</string>
                        <key>textureRect</key>
                        <string>{{1,1309},{470,333}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>bat_22.png</string>
                        <key>spriteOffset</key>
                        <string>{81,131}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,600}</string>
                        <key>textureRect</key>
                        <string>{{1,1644},{454,342}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>bat_11.png</string>
                        <key>spriteOffset</key>
                        <string>{92,195}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,600}</string>
                        <key>textureRect</key>
                        <string>{{1598,1},{289,435}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>bat_2.png</string>
                        <key>spriteOffset</key>
                        <string>{52,195}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,600}</string>
                        <key>textureRect</key>
                        <string>{{1061,275},{521,267}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>bat_15.png</string>
                        <key>spriteOffset</key>
                        <string>{58,166}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,600}</string>
                        <key>textureRect</key>
                        <string>{{538,308},{505,294}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>bat_3.png</string>
                        <key>spriteOffset</key>
                        <string>{58,195}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,600}</string>
                        <key>textureRect</key>
                        <string>{{1045,544},{505,265}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>bat_14.png</string>
                        <key>spriteOffset</key>
                        <string>{66,175}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,600}</string>
                        <key>textureRect</key>
                        <string>{{524,604},{486,287}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>bat_4.png</string>
                        <key>spriteOffset</key>
                        <string>{66,195}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,600}</string>
                        <key>textureRect</key>
                        <string>{{508,893},{486,267}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>bat_13.png</string>
                        <key>spriteOffset</key>
                        <string>{73,184}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,600}</string>
                        <key>textureRect</key>
                        <string>{{489,1162},{470,280}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>bat_5.png</string>
                        <key>spriteOffset</key>
                        <string>{73,195}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,600}</string>
                        <key>textureRect</key>
                        <string>{{473,1444},{470,269}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>bat_12.png</string>
                        <key>spriteOffset</key>
                        <string>{81,193}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,600}</string>
                        <key>textureRect</key>
                        <string>{{457,1715},{454,280}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>bat_6.png</string>
                        <key>spriteOffset</key>
                        <string>{81,195}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,600}</string>
                        <key>textureRect</key>
                        <string>{{1012,811},{454,278}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>bat_23.png</string>
                        <key>spriteOffset</key>
                        <string>{92,131}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,600}</string>
                        <key>textureRect</key>
                        <string>{{996,1091},{435,353}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>bat_7.png</string>
                        <key>spriteOffset</key>
                        <string>{92,195}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,600}</string>
                        <key>textureRect</key>
                        <string>{{945,1446},{435,289}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>bat_9.png</string>
                        <key>spriteOffset</key>
                        <string>{115,195}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,600}</string>
                        <key>textureRect</key>
                        <string>{{913,1737},{398,285}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>bat_10.png</string>
                        <key>spriteOffset</key>
                        <string>{102,195}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,600}</string>
                        <key>textureRect</key>
                        <string>{{1584,438},{303,420}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>bat_24.png</string>
                        <key>spriteOffset</key>
                        <string>{102,131}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,600}</string>
                        <key>textureRect</key>
                        <string>{{1468,860},{420,367}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>bat_8.png</string>
                        <key>spriteOffset</key>
                        <string>{102,195}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,600}</string>
                        <key>textureRect</key>
                        <string>{{1433,1229},{420,303}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>bat_25.png</string>
                        <key>spriteOffset</key>
                        <string>{116,131}</string>
                        <key>spriteSourceSize</key>
                        <string>{600,600}</string>
                        <key>textureRect</key>
                        <string>{{1382,1534},{398,349}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
