<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 3.9.2 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf18977b567abc6a16b594a49a0dffc2:1974c9a4b53bd6f1a6fd5852d1971cdd:996d3c15e686dd1f50c0304399650890$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>blue_house_anim.1.png</string>
                <key>size</key>
                <string>{2031,804}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>blue_house_top_part.png</string>
                        <key>spriteOffset</key>
                        <string>{1,434}</string>
                        <key>spriteSourceSize</key>
                        <string>{676,1105}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{405,675}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>blue_house_banner_rus.png</string>
                        <key>spriteOffset</key>
                        <string>{45,695}</string>
                        <key>spriteSourceSize</key>
                        <string>{676,1105}</string>
                        <key>textureRect</key>
                        <string>{{408,1},{410,586}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>blue_house_witch_00.png</string>
                        <key>spriteOffset</key>
                        <string>{217,222}</string>
                        <key>spriteSourceSize</key>
                        <string>{676,1105}</string>
                        <key>textureRect</key>
                        <string>{{408,589},{263,214}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>blue_house_witch_08.png</string>
                        <key>spriteOffset</key>
                        <string>{217,222}</string>
                        <key>spriteSourceSize</key>
                        <string>{676,1105}</string>
                        <key>textureRect</key>
                        <string>{{408,589},{263,214}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>blue_house_witch_02.png</string>
                        <key>spriteOffset</key>
                        <string>{217,222}</string>
                        <key>spriteSourceSize</key>
                        <string>{676,1105}</string>
                        <key>textureRect</key>
                        <string>{{673,589},{263,214}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>blue_house_witch_06.png</string>
                        <key>spriteOffset</key>
                        <string>{217,222}</string>
                        <key>spriteSourceSize</key>
                        <string>{676,1105}</string>
                        <key>textureRect</key>
                        <string>{{673,589},{263,214}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>blue_house_banner_eng.png</string>
                        <key>spriteOffset</key>
                        <string>{46,695}</string>
                        <key>spriteSourceSize</key>
                        <string>{676,1105}</string>
                        <key>textureRect</key>
                        <string>{{820,1},{410,584}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>blue_house_door.png</string>
                        <key>spriteOffset</key>
                        <string>{217,222}</string>
                        <key>spriteSourceSize</key>
                        <string>{676,1105}</string>
                        <key>textureRect</key>
                        <string>{{938,587},{271,216}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>blue_house_witch_03.png</string>
                        <key>spriteOffset</key>
                        <string>{217,222}</string>
                        <key>spriteSourceSize</key>
                        <string>{676,1105}</string>
                        <key>textureRect</key>
                        <string>{{1211,587},{263,214}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>blue_house_witch_05.png</string>
                        <key>spriteOffset</key>
                        <string>{217,222}</string>
                        <key>spriteSourceSize</key>
                        <string>{676,1105}</string>
                        <key>textureRect</key>
                        <string>{{1211,587},{263,214}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>blue_house_bottom_part.png</string>
                        <key>spriteOffset</key>
                        <string>{66,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{676,1105}</string>
                        <key>textureRect</key>
                        <string>{{1232,1},{543,577}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>blue_house_yellow_wall.png</string>
                        <key>spriteOffset</key>
                        <string>{233,226}</string>
                        <key>spriteSourceSize</key>
                        <string>{676,1105}</string>
                        <key>textureRect</key>
                        <string>{{1777,1},{253,180}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>blue_house_witch_04.png</string>
                        <key>spriteOffset</key>
                        <string>{217,222}</string>
                        <key>spriteSourceSize</key>
                        <string>{676,1105}</string>
                        <key>textureRect</key>
                        <string>{{1476,580},{263,214}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>blue_house_witch_01.png</string>
                        <key>spriteOffset</key>
                        <string>{217,222}</string>
                        <key>spriteSourceSize</key>
                        <string>{676,1105}</string>
                        <key>textureRect</key>
                        <string>{{1741,580},{262,214}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>blue_house_witch_07.png</string>
                        <key>spriteOffset</key>
                        <string>{217,222}</string>
                        <key>spriteSourceSize</key>
                        <string>{676,1105}</string>
                        <key>textureRect</key>
                        <string>{{1741,580},{262,214}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>blue_house_extinguisher.png</string>
                        <key>spriteOffset</key>
                        <string>{0,254}</string>
                        <key>spriteSourceSize</key>
                        <string>{676,1105}</string>
                        <key>textureRect</key>
                        <string>{{1777,183},{198,180}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>blue_house_player.png</string>
                        <key>spriteOffset</key>
                        <string>{475,357}</string>
                        <key>spriteSourceSize</key>
                        <string>{676,1105}</string>
                        <key>textureRect</key>
                        <string>{{1777,365},{169,195}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
