<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 3.8.0 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3426ff647ac98e112e4db3110e88067:84d0c7ddf81eae05ca300a5d5fe1c78d:fff44cc586a035dfca92aec928858b7d$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>foam_castle.1.png</string>
                <key>size</key>
                <string>{3224,2016}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>foam_castle_01.png</string>
                        <key>spriteOffset</key>
                        <string>{160,73}</string>
                        <key>spriteSourceSize</key>
                        <string>{1525,1127}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{804,502}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>foam_castle_02.png</string>
                        <key>spriteOffset</key>
                        <string>{160,73}</string>
                        <key>spriteSourceSize</key>
                        <string>{1525,1127}</string>
                        <key>textureRect</key>
                        <string>{{807,1},{804,502}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>foam_castle_03.png</string>
                        <key>spriteOffset</key>
                        <string>{160,73}</string>
                        <key>spriteSourceSize</key>
                        <string>{1525,1127}</string>
                        <key>textureRect</key>
                        <string>{{1613,1},{804,502}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>foam_castle_04.png</string>
                        <key>spriteOffset</key>
                        <string>{160,73}</string>
                        <key>spriteSourceSize</key>
                        <string>{1525,1127}</string>
                        <key>textureRect</key>
                        <string>{{2419,1},{804,502}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>foam_castle_05.png</string>
                        <key>spriteOffset</key>
                        <string>{160,73}</string>
                        <key>spriteSourceSize</key>
                        <string>{1525,1127}</string>
                        <key>textureRect</key>
                        <string>{{1,505},{804,502}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>foam_castle_06.png</string>
                        <key>spriteOffset</key>
                        <string>{160,73}</string>
                        <key>spriteSourceSize</key>
                        <string>{1525,1127}</string>
                        <key>textureRect</key>
                        <string>{{807,505},{804,502}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>foam_castle_07.png</string>
                        <key>spriteOffset</key>
                        <string>{160,73}</string>
                        <key>spriteSourceSize</key>
                        <string>{1525,1127}</string>
                        <key>textureRect</key>
                        <string>{{1613,505},{804,502}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>foam_castle_08.png</string>
                        <key>spriteOffset</key>
                        <string>{160,73}</string>
                        <key>spriteSourceSize</key>
                        <string>{1525,1127}</string>
                        <key>textureRect</key>
                        <string>{{2419,505},{804,502}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>foam_castle_09.png</string>
                        <key>spriteOffset</key>
                        <string>{160,73}</string>
                        <key>spriteSourceSize</key>
                        <string>{1525,1127}</string>
                        <key>textureRect</key>
                        <string>{{1,1009},{804,502}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>foam_castle_10.png</string>
                        <key>spriteOffset</key>
                        <string>{160,73}</string>
                        <key>spriteSourceSize</key>
                        <string>{1525,1127}</string>
                        <key>textureRect</key>
                        <string>{{807,1009},{804,502}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>foam_castle_11.png</string>
                        <key>spriteOffset</key>
                        <string>{160,73}</string>
                        <key>spriteSourceSize</key>
                        <string>{1525,1127}</string>
                        <key>textureRect</key>
                        <string>{{1613,1009},{804,502}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>foam_castle_12.png</string>
                        <key>spriteOffset</key>
                        <string>{160,73}</string>
                        <key>spriteSourceSize</key>
                        <string>{1525,1127}</string>
                        <key>textureRect</key>
                        <string>{{2419,1009},{804,502}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>foam_castle_13.png</string>
                        <key>spriteOffset</key>
                        <string>{160,73}</string>
                        <key>spriteSourceSize</key>
                        <string>{1525,1127}</string>
                        <key>textureRect</key>
                        <string>{{1,1513},{804,502}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>foam_castle_14.png</string>
                        <key>spriteOffset</key>
                        <string>{160,73}</string>
                        <key>spriteSourceSize</key>
                        <string>{1525,1127}</string>
                        <key>textureRect</key>
                        <string>{{807,1513},{804,502}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>foam_castle_15.png</string>
                        <key>spriteOffset</key>
                        <string>{160,73}</string>
                        <key>spriteSourceSize</key>
                        <string>{1525,1127}</string>
                        <key>textureRect</key>
                        <string>{{1613,1513},{804,502}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>foam_castle_16.png</string>
                        <key>spriteOffset</key>
                        <string>{160,73}</string>
                        <key>spriteSourceSize</key>
                        <string>{1525,1127}</string>
                        <key>textureRect</key>
                        <string>{{2419,1513},{804,502}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
