<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 3.8.0 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0fca0b56f6a3f71e24429355103137b9:e3e461768f10bd42a7b6ff606463023b:6c40c8fab413a34b3a65bb1cdf2e9108$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>bottom_island.1.png</string>
                <key>size</key>
                <string>{2896,1007}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>bottom_island_08.png</string>
                        <key>spriteOffset</key>
                        <string>{149,213}</string>
                        <key>spriteSourceSize</key>
                        <string>{1525,1127}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{449,547}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>bottom_island_01.png</string>
                        <key>spriteOffset</key>
                        <string>{161,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{1525,1127}</string>
                        <key>textureRect</key>
                        <string>{{1,550},{357,448}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>bottom_island_02.png</string>
                        <key>spriteOffset</key>
                        <string>{189,30}</string>
                        <key>spriteSourceSize</key>
                        <string>{1525,1127}</string>
                        <key>textureRect</key>
                        <string>{{360,550},{430,443}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>bottom_island_09.png</string>
                        <key>spriteOffset</key>
                        <string>{142,227}</string>
                        <key>spriteSourceSize</key>
                        <string>{1525,1127}</string>
                        <key>textureRect</key>
                        <string>{{452,1},{504,539}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>bottom_island_11.png</string>
                        <key>spriteOffset</key>
                        <string>{117,355}</string>
                        <key>spriteSourceSize</key>
                        <string>{1525,1127}</string>
                        <key>textureRect</key>
                        <string>{{792,542},{433,464}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>bottom_island_07.png</string>
                        <key>spriteOffset</key>
                        <string>{156,166}</string>
                        <key>spriteSourceSize</key>
                        <string>{1525,1127}</string>
                        <key>textureRect</key>
                        <string>{{958,1},{436,538}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>bottom_island_12.png</string>
                        <key>spriteOffset</key>
                        <string>{117,403}</string>
                        <key>spriteSourceSize</key>
                        <string>{1525,1127}</string>
                        <key>textureRect</key>
                        <string>{{1227,541},{385,436}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>bottom_island_06.png</string>
                        <key>spriteOffset</key>
                        <string>{177,142}</string>
                        <key>spriteSourceSize</key>
                        <string>{1525,1127}</string>
                        <key>textureRect</key>
                        <string>{{1396,1},{424,507}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>bottom_island_10.png</string>
                        <key>spriteOffset</key>
                        <string>{126,287}</string>
                        <key>spriteSourceSize</key>
                        <string>{1525,1127}</string>
                        <key>textureRect</key>
                        <string>{{1614,510},{487,491}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>bottom_island_03.png</string>
                        <key>spriteOffset</key>
                        <string>{214,64}</string>
                        <key>spriteSourceSize</key>
                        <string>{1525,1127}</string>
                        <key>textureRect</key>
                        <string>{{1822,1},{413,481}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>bottom_island_05.png</string>
                        <key>spriteOffset</key>
                        <string>{192,115}</string>
                        <key>spriteSourceSize</key>
                        <string>{1525,1127}</string>
                        <key>textureRect</key>
                        <string>{{2103,484},{416,478}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>bottom_island_04.png</string>
                        <key>spriteOffset</key>
                        <string>{203,90}</string>
                        <key>spriteSourceSize</key>
                        <string>{1525,1127}</string>
                        <key>textureRect</key>
                        <string>{{2237,1},{414,473}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>bottom_island_13.png</string>
                        <key>spriteOffset</key>
                        <string>{117,461}</string>
                        <key>spriteSourceSize</key>
                        <string>{1525,1127}</string>
                        <key>textureRect</key>
                        <string>{{2521,476},{327,422}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
