<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 3.8.0 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7cfbb3248c739febf2d33544195e6589:168afa2d1fdc45364986fe72d9bfe481:8ae6173f1a07461f6710519351435a44$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>wanda_anim.1.png</string>
                <key>size</key>
                <string>{2112,994}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>wanda_anim_06.png</string>
                        <key>spriteOffset</key>
                        <string>{169,443}</string>
                        <key>spriteSourceSize</key>
                        <string>{814,1126}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{466,640}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>wanda_anim_08.png</string>
                        <key>spriteOffset</key>
                        <string>{238,475}</string>
                        <key>spriteSourceSize</key>
                        <string>{814,1126}</string>
                        <key>textureRect</key>
                        <string>{{1,643},{608,350}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>wanda_anim_07.png</string>
                        <key>spriteOffset</key>
                        <string>{208,472}</string>
                        <key>spriteSourceSize</key>
                        <string>{814,1126}</string>
                        <key>textureRect</key>
                        <string>{{469,1},{404,611}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>wanda_anim_04.png</string>
                        <key>spriteOffset</key>
                        <string>{232,443}</string>
                        <key>spriteSourceSize</key>
                        <string>{814,1126}</string>
                        <key>textureRect</key>
                        <string>{{611,614},{546,369}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>wanda_anim_05.png</string>
                        <key>spriteOffset</key>
                        <string>{202,443}</string>
                        <key>spriteSourceSize</key>
                        <string>{814,1126}</string>
                        <key>textureRect</key>
                        <string>{{875,1},{419,596}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>wanda_anim_01.png</string>
                        <key>spriteOffset</key>
                        <string>{325,443}</string>
                        <key>spriteSourceSize</key>
                        <string>{814,1126}</string>
                        <key>textureRect</key>
                        <string>{{1159,599},{203,357}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>wanda_anim_09.png</string>
                        <key>spriteOffset</key>
                        <string>{251,546}</string>
                        <key>spriteSourceSize</key>
                        <string>{814,1126}</string>
                        <key>textureRect</key>
                        <string>{{1296,1},{309,537}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>wanda_anim_03.png</string>
                        <key>spriteOffset</key>
                        <string>{261,443}</string>
                        <key>spriteSourceSize</key>
                        <string>{814,1126}</string>
                        <key>textureRect</key>
                        <string>{{1607,1},{495,316}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>wanda_anim_02.png</string>
                        <key>spriteOffset</key>
                        <string>{294,443}</string>
                        <key>spriteSourceSize</key>
                        <string>{814,1126}</string>
                        <key>textureRect</key>
                        <string>{{1364,540},{255,437}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>wanda_anim_11.png</string>
                        <key>spriteOffset</key>
                        <string>{316,688}</string>
                        <key>spriteSourceSize</key>
                        <string>{814,1126}</string>
                        <key>textureRect</key>
                        <string>{{1607,319},{395,210}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>wanda_anim_10.png</string>
                        <key>spriteOffset</key>
                        <string>{286,608}</string>
                        <key>spriteSourceSize</key>
                        <string>{814,1126}</string>
                        <key>textureRect</key>
                        <string>{{1621,531},{475,260}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>wanda_anim_12.png</string>
                        <key>spriteOffset</key>
                        <string>{352,778}</string>
                        <key>spriteSourceSize</key>
                        <string>{814,1126}</string>
                        <key>textureRect</key>
                        <string>{{1621,793},{313,143}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
